In [1]:
# מגישים: אוריאל כהנא 209087048 ודניאל טוגנדהפט 318465291

In [62]:
import pandas as pd 
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as ax
import os
import pickle as pkl
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
import math

# TARGIL 2 -LOGISTIC REGRESSION

## Q1 T4_model_1

<div dir="rtl">בנו מודל בשם T3_model_4 לניבוי הסיכוי לשרוד על פי גיל הנוסע

In [67]:
titanic_t3 = pd.read_csv('titanic.csv')
titanic_t3.head(5)
# survived is the predicted variable
# survived==1 represents a passenger who survived
# survived==0 represents a passenger who drowned

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [68]:
# look at the data
titanic_t3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   row.names  1313 non-null   int64
 1   pclass     1313 non-null   object
 2   survived   1313 non-null   int64
 3   name       1313 non-null   object
 4   age        633 non-null    float64
 5   embarked   821 non-null    object
 6   home.dest  754 non-null    object
 7   room       77 non-null     object
 8   ticket     69 non-null     object
 9   boat       347 non-null    object
 10  sex        1313 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 113.0+ KB

In [69]:
# data dimnetions (x vs. y)
titanic_t3.shape

(1313, 11)

In [73]:
# look for NA
titanic_t3.isna().sum()

## We are going to use age.
## Hence, we need to remove the NA from the age column.

row.names       0
pclass          0
survived        0
name            0
age           680
embarked      492
home.dest     559
room         1236
ticket       1244
boat          966
sex             0
dtype: int64

# שאלה 1

In [75]:
titanic_t3 = titanic_t3.dropna(subset=['age'])
titanic_t3 = titanic_t3.dropna(subset=['embarked'])
titanic_t3['age'] = titanic_t3['age'].astype(int)
titanic_t3.isna().sum()

row.names      0
pclass         0
survived       0
name           0
age            0
embarked       0
home.dest     33
room         566
ticket       570
boat         342
sex            0
dtype: int64

# שאלה 2

In [79]:
# Step 1: Adding an intercept column for the logistic regression model
titanic_t3['intercept'] = 1

In [81]:
dummy_variables = pd.get_dummies(titanic_t3['embarked'],dtype=int)
titanic_t3 = pd.concat([titanic_t3, dummy_variables], axis=1)
titanic_t3.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex,intercept,Cherbourg,Queenstown,Southampton
0,1,1st,1,"Allen, Miss Elisabeth Walton",29,Southampton,"St Louis, MO",B-5,24160 L221,2,female,1,0,0,1
1,2,1st,0,"Allison, Miss Helen Loraine",2,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female,1,0,0,1
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male,1,0,0,1
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female,1,0,0,1
4,5,1st,1,"Allison, Master Hudson Trevor",0,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male,1,0,0,1

In [83]:
# Step 2: creating x & y
x = titanic_t3[['intercept','age', 'Cherbourg', 'Queenstown']]
y = titanic_t3['survived']

In [85]:
# Step 3: Building the logistic regression model
logit_for_model_1 = sm.Logit(y,x)
T3_model_1 = logit_for_model_1.fit()
T3_model_1.summary()

Optimization terminated successfully.
         Current function value: 0.663601
         Iterations 4

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                  627
Model:                          Logit   Df Residuals:                      623
Method:                           MLE   Df Model:                            3
Date:                Tue, 27 Feb 2024   Pseudo R-squ.:                 0.03315
Time:                        21:34:20   Log-Likelihood:                -416.08
converged:                       True   LL-Null:                       -430.34
Covariance Type:            nonrobust   LLR p-value:                 2.809e-06
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept      0.1022      0.194      0.527      0.598      -0.278       0.482
age           -0.0176      0.006     -3.034      0.002      -0.029      -0.006
Cherbourg      0.9759      0.208      4.695      0.000       0.569       1.383
Queenstown    -0.0566      0.383     -0.148      0.882      -0.806       0.693
==============================================================================
"""

_____

# נוסחת הניבוי

$$ p = \frac{1}{1+e^{-(0.1022 -0.0176*age+ 0.9759*Cherbourg-0.0566*Queenstown)}} $$

# נוסחת logit:

$$ Logit(p) = 0.1022  -0.0176*age+ 0.9759*Cherbourg-0.0566*Queenstown$$

# שאלה 3

# א

In [113]:
pred_df = pd.DataFrame([])
pred_df.loc[0,'intercept'] = 1
pred_df.loc[0,'age'] = 30
pred_df.loc[0,'Cherbourg'] = 1
pred_df.loc[0,'Queenstown'] = 0
pred_df

   intercept   age  Cherbourg  Queenstown
0        1.0  30.0        1.0         0.0

In [119]:
Cherbourg30 = T3_model_1.predict(pred_df[['intercept','age', 'Cherbourg','Queenstown']]).item()
1-Cherbourg30

0.3657849516105772

# ב

In [123]:
p = 1 / (1 + np.exp(-(0.1022 - 0.0176 * 30 + 0.9759 * 1 - 0.0566 * 0)))
1-p

0.3658412085360969

___________________

# שאלה 4

In [130]:
model_Q4 = sm.Logit(titanic_t3['survived'], titanic_t3[['intercept','age']])
result_logistic2 = model_Q4.fit()
result_logistic = T3_model_1
print(result_logistic2.summary())

Optimization terminated successfully.
         Current function value: 0.682253
         Iterations 4
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                  627
Model:                          Logit   Df Residuals:                      625
Method:                           MLE   Df Model:                            1
Date:                Tue, 27 Feb 2024   Pseudo R-squ.:                0.005976
Time:                        21:49:14   Log-Likelihood:                -427.77
converged:                       True   LL-Null:                       -430.34
Covariance Type:            nonrobust   LLR p-value:                   0.02334
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept      0.1524      0.189      0.808      0.419      -0.217       0.522
age           -0.0125      0.006     -2.252      0.024      -0.023      -0.002
==============================================================================

In [132]:
print("Model Q2:")
print("Log likelihood:", result_logistic.llf)
print("AIC:", result_logistic.aic)

print("Model Q4:")
print("Log likelihood:", result_logistic2.llf)
print("AIC:", result_logistic2.aic)

Model Q2:
Log likelihood: -416.0780813294598
AIC: 840.1561626589196
Model Q4:
Log likelihood: -427.7723377750723
AIC: 859.5446755501446

# שאלה 5

_______________________

# שאלה 6

### סעיף ד הוא הנכון